body,
figure {
  margin: 0;
}

h1 {
  color: #5d6bc1;
  font-size: 3em;
  text-align: center;
}

p.summary {
  color: #ac80af;
  text-align: center;
}

figcaption.credit {
  color: #d8d8d8
}


p.byline {
  font-weight: bold;
}

body {
  background-color: #fff;
  font-family: Georgia, serif;
  max-width: 60em; /* 960px 16px=1em) */
  padding: 0 1em 0 1em; /* padding-top, padding-right, padding-bottom, padding-left */
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #ac80af;
  font-size: 1.5em
}

p,
li {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.5; /* unitless */
}


/* links */

a{
  color:#ac80af ;
}

a:hover {
  color: #eac3ed;
  cursor: pointer;
}

a:focus,
a:active {
  color: #eac3ed;
}

/* responsive images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: 1em;
  margin-right: 1em;
}

img.headshot {
  max-width: 3em;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-right: .5rem;
}
/* navigation */



/* hero figure/img */

figure.hero {
  margin: 0 -1em;
}

figure.hero img{
  margin-top: 3em;
}

figure.hero figcaption {
  margin: 0 1em;
}
